:root {
    --work-box-size: 40px;

    --btn-color-hover-blue: rgb(57 101 224);
    --backgr-color-hover-blue1: rgb(246 250 255);
    --backgr-color-active-blue: rgb(239, 249, 255);
    --backgr-color-hover-blue2: rgb(197, 218, 255);
}

.calendar {
    display: block;
    margin: 0 8px;
}

.calendar-toolbar {
    display: flex;
    justify-content: space-between;
}

.calendar-toolbar .toolbar-start {
    display: flex;
}

.calendar-toolbar .toolbar-end {
    display: flex;
}

.today {

}

.btn-today {

}

.calendar .btn-tool {
    height: 40px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: unset;
    transition: all 0.25s;
    
}

.calendar .btn-tool:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);
    cursor: pointer;
}

.calendar .change-time-modal {
    
}



.prev-week {

}

.calendar .btn-prev-week,
.calendar .btn-next-week {
    width: 40px;
}

.next-week {

}

.change-time {
    display: flex;
    align-items: center;
}

.btn-change-week {
    font-size: var(--text-font-size-16) !important;
    width: 150px !important;
    height: 30px;
    padding: 0 8px !important;
    border: none !important;
    cursor: pointer;
    transition: all 0.25s;

}

.btn-change-week:focus-visible {
    outline: none !important;
}

.btn-change-week:hover {
    color: var(--btn-color-hover-blue);
}

/* ------------------- Calendar-content ------------------ */

/* ------------------- Row-date ------------------ */

.calendar-content .row-date {
    display: flex;
    height: 50px;
}


.row-date .box-space {
    width: 50px;
}

.box-space .btn-display-border {
    height: 40px;
    width: 40px;
    margin: 4px 5px 0 5px;
}

.row-date .box-date {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    justify-content: center;
    
}



.box-date .text-date {
    font-size: 20px;
    font-weight: 700;
}

.box-date .text-day {
    font-size: 14px;
}


/* ------------------- Timeline Column ------------------ */

.table-timeline {
    display: flex;
}

.col-time {
    display: flex;
    flex-direction: column;
}

.col-time .time-marker {
    width: 50px;
    height: calc(var(--work-box-size) * 2);
    padding-top: 0.8px;
    text-align: center;
    border-top: 1px solid var(--backgr-color-black);
}

.time-marker .time-marker-text {
    font-size: 12px;
}

/* ------------------- Events ------------------ */

.col {
    width: 100%;
    border-left: 1px solid var(--backgr-color-black) ;
}

.works {
    position: relative;
}

.works.active {
    background-color: var(--backgr-color-active-blue);
}

.table-timeline .work-box {
    position: relative;
    width: 100%;
    height: var(--work-box-size);
    border-top: 1px solid var(--backgr-color-hover);
}

.table-timeline .work-box:nth-of-type(odd) {
    border-top: 1px solid var(--backgr-color-black);
}

.table-timeline .work-box:hover {
    background-color: var(--backgr-color-hover-blue2);
}

.box-date.active {
    background-color: var(--backgr-color-active-blue);
    color: var(--btn-color-hover-blue);
    transition: color 0.2s;
}

.event {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 1px;
    padding: 8px;
    border-radius: 10px;
    border: unset;
    background-color: #cdf6ff;
    overflow: hidden;
    transform: scale(1);
    transition: transform ease-out 0.25s;
}

.event:hover {
    height: min-content !important;
    transform: scale(1.1);
}

.event.active {
    display: flex;
}

.event .content {
    color: #000000;
}

.event .content .title {
    font-weight: 700;
    font-size: var(--text-font-size-16);
}

.event .content .info,
.event .content .time  {
    margin-top: 4px;
    font-size: var(--text-font-size-14);
}


.event .content .time {
    color: #555;
}

/* ------------------- Datepicker CSS ------------------ */
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    margin: 4px;
    height: 40px;
    width: 40px;
    line-height: 45px;
    border-radius: 10px;
    padding: 0;
}

.flatpickr-months .flatpickr-month {
    overflow: unset;
}

.flatpickr-current-month {
    margin-top: 4px;
    padding: 0;
}



.flatpickr-current-month .flatpickr-monthDropdown-months {
    height: 40px;
    border-radius: 10px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);

}

.flatpickr-current-month .numInputWrapper {
    border-radius: 10px;
    margin-left: 16px;
    width: 70px;
}

.flatpickr-current-month .numInputWrapper:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);
}

.flatpickr-current-month input.cur-year {
    height: 40px;
}

.numInputWrapper span {
    width: 20px;
    padding: 0 6px;
    border: none;
}

.numInputWrapper span:hover{
    border-radius: 5px;
    background: rgb(222 237 255);
    transition: all 0.2s;
}

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
    border-bottom-color: var(--btn-color-hover-blue);
}

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
    border-top-color: var(--btn-color-hover-blue);
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg{
    fill: var(--btn-color-hover-blue);
}



.flatpickr-months .flatpickr-prev-month:hover, .flatpickr-months .flatpickr-next-month:hover {
    background-color: var(--backgr-color-hover-blue1);

}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
    color: black;
    font-size: 16px;
}

.flatpickr-rContainer .flatpickr-weekdays {
    margin-top: 8px;
}
