/* bảng student */
/* .wrapper-content {
    position: relative;
} */
.table-student {
    max-height: 600px;
}
.wrapper-content .table-student table {
    margin-top: 12px;
    margin-right: 16px;
    width: 100%;
    border-collapse: collapse;
}

.table-student th, .table-student td {
    border: 1px solid #0e0101;
    padding: 4px;
    text-align: left;
}

.table-student tr:hover {
    background-color:  #D6EEEE;
}

.wrapper-content .list-button a {
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    padding: 12px;
    text-decoration: none;
}
.wrapper-content .list-button a:hover {
    background-color: rgb(6, 128, 243);
    color: #ffffff;
    border-radius: 5%;
}
/* hidden input file */
.inputfile {
    opacity: 0.5;
}

/* click vào sinh viên */
.click-student {
    display: none;
    border: 2px solid #080808;
    background-color: #ebeef1;
    position: fixed;
    top: 30%;
    left: 50%;
    z-index: 1;
    
}

.click-student a {
    display: block;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid #121111;
    text-decoration: none;

}
.click-student li:hover {
    background-color: #6184a733;
}
/* man phu */
.cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000051;
}
