.setting{
    float: right;
    width: 80%;
}
h1{
    padding-bottom: 10px;
}
.setting-content{
    float: right;
    width: 100%;
    background-color: rgb(204, 204, 204);
    display: flex;

}
.setting-items{
    background-color: rgb(160, 160, 160);
    float: right;
    width: 20%;
}
.setting-item{
    padding: 10px 0;
    font-size: 20px;
}
.setting-item:nth-child(odd){
    background-color: #f2f2f2;
}
.setting-item:nth-child(even){
    background-color: white;
}

/* ok */
