/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

/* Global */

html {
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    overflow-x: hidden;
}

li {
    list-style: none;
}

/* margin side */
.mside-12 {
    margin: 0 12px;
}

button {
    cursor: pointer;
}

:root {

    --numDays: 6;
    --numHours: 12;
    --timeHeight: 50px;
    --icon-font-size: 20px;
    --text-font-size-small: 14px;
    --text-font-size-big: 20px;

    --backgr-color-light: rgb(255, 255, 255);
    --backgr-color-middle: rgb(250, 250, 250);
    --backgr-color-dark: rgb(119, 119, 119);
    --backgr-color-hover: rgb(233, 233, 233);
    --backgr-color-blur: rgb(244, 244, 244, 0.5);
    --border-color-light: rgb(204, 204, 204);
    --box-shadow-color: rgb(160, 160, 160);
    --text-color-light: rgb(39, 39, 39);
    --text-color-fade: rgb(100, 96, 96);
    --text-color-green: rgb(102, 221, 89);
    --icon-color-light: rgb(24, 22, 22);
    --icon-color-dark: rgb(65, 65, 65);
    --icon-color-hover: rgb(0, 0, 0);

    /* Calendar color */
    --calBgColor: #fff1f8;
    --eventBorderColor: #f2d3d8;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
}

/* Style inputs with type="text", select elements and textareas */

select,
textarea,
input[type=text]{
    font-size: var(--text-font-size-big);
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=password]{
    font-size: var(--text-font-size);
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-size: var(--text-font-size-big);
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

input[type=datetime-local] {
    font-size: var(--text-font-size-big);
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* General CSS */
.btn {
    width: 40px;
    height: 40px;
    margin: 0 8px;
    text-align: center;
    line-height: 40px;
    border: none;
    background-color: var(--backgr-color-light);
    border-radius: 50%;
    font-size: var(--icon-font-size);
    color: var(--icon-color-dark);
}

.btn:hover {
    border-radius: 50%;
    background-color: var(--backgr-color-hover);
}

/* Start Header */
.wrapper-header {
    height: 56px;
    position: fixed;
    width: 100%;
    background-color: var(--backgr-color-light);
}

.header {
    height: 56px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-start {
    width: 240px;
    background-color: var(--backgr-color-light);
    display: flex;
    align-items: center;
}

.header-start .btn-sidebar {
    margin: 0 8px 0 0;
}

.header-start i {
    font-size: 20px;
    line-height: 24px;
    color: var(--icon-dark);
}

.header-start .btn-logo {
    height: 40px;
}

.header-start .btn-logo img {
    height: 40px;
    padding: 0 16px;
}

/* Start Header-center */
.header-center {
    display: flex;
    align-items: center;
    width: 50%;
}

.header-center .search-bar {
    height: 40px;
    width: 100%;
    background-color: var(--backgr-color-light);
    display: flex;
    justify-content: space-between;
}

.header-center .search-bar input {
    width: 100%;
    margin-left: 20px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid var(--backgr-color-hover);
    border-radius: 20px 0 0 20px;
}

.header-center .search-bar input:focus-visible {
    /* outline: none; */
    /* border: 2px groove var(--backgr-color-middle); */
}

.header-center .search-icon {
    width: 64px;
    text-align: center;
    background-color: var(--backgr-color-middle);
    border: 1px solid var(--border-color-light);
    border-radius: 0 20px 20px 0;
}

.header-center .search-icon:hover {
    background: var(--backgr-color-hover);
}

.header-center .search-icon i {
    font-size: var(--icon-font-size);
    line-height: 40px;
}

/* End Header-center */

/* Start Header-avatar */
.header-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 240px;
}

.icon-avatar {
    margin-right: 8px;
    text-align: center;
}

.icon-avatar:hover {
    background-color: unset;
}

.icon-avatar img {
    padding: 4px 0;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.icon-avatar .avatar-nav {
    position: absolute;
    display: none;
    right: 4px;
    top: 56px;
}

.avatar-nav .avatar-nav-item {
    height: 32px;
    width: 240px;
    padding: 5px 5px 5px 10px;
    text-align: left;
    line-height: 32px;
    list-style: none;
    background-color: var(--backgr-color-light);
    box-shadow: 2px 2px 2px var(--box-shadow-color);
    /* x | y | blur-radius | color */
}

.avatar-nav .avatar-nav-item:nth-child(1) {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.avatar-nav .avatar-nav-item:nth-child(4) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.avatar-nav .avatar-nav-item a {
    text-decoration: none;
    font-size: 16px;
    color: var(--text-color-light);
}

.avatar-nav .avatar-nav-item i {
    width: 16px;
    padding: 0 16px;
}

.header-end .show {
    display: block;
}
/* .icon-avatar:hover .avatar-nav {
    display: block;
} */

.avatar-nav .avatar-nav-item:hover {
    background-color: var(--backgr-color-hover);
}

/* #End Header-avatar */



/* #Start Sidebar */
.wrapper-sidebar {
    background-color: var(--backgr-color-light);
    position: fixed;
    top: 56px;
    width: 250px;
    height: 100%;
}

.wrapper-sidebar.hidden {
    display: none;
}


.sidebar {
    margin-left: 16px;
}

.sidebar-item {
    padding: 16px 0;
    border-bottom: 1px solid var(--backgr-color-hover);
}

.btn-sidebar-item {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--icon-font-size);
    border: none;
    border-radius: 10px;
    background-color: var(--backgr-color-light);
    ;
}

.btn-sidebar-item:hover {
    background-color: var(--backgr-color-hover);
    cursor: pointer;
    transition: ease-out 0.3s
}

.btn-sidebar-item i {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.btn-sidebar-item a {
    padding: 0 16px;
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-color-light);
}

.sidebar-week {}

.sidebar-week-days {
    display: flex;
}

.sidebar-week-days .sidebar-day {
    width: calc(100%/7);
    height: 16px;
    color: var(--text-color-green);
}

.sidebar-week-days .sidebar-day-passed {
    color: var(--text-color-fade);
}

/* End Sidebar */






/* Start Main content */

.wrapper-content {
    width: calc(100% - 250px);
    float: right;
    margin-top: 56px;
}

.wrapper-content.fullwidth {
    width: 100%;
}
/* Start Main Calendar */
.calendar {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    margin: 0 8px;
}

.timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    text-align: center;
    /* repeat(số lần, kích thước) */
}

.timeline .box-change-month {
    height: var(--timeHeight);
    margin: 0 -8px;
}

.timeline .box-change-month .btn-change-month {
    height: 100%;
    width: 100%;
    background-color: var(--backgr-color-light);
}

.days {
    display: grid;
    grid-column: 2;
    /*grid-column-start: 2 
      grid-column-end: 3 */
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.days .date {
    height: var(--timeHeight);
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
}

.calendar .btn-week {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--backgr-color-light);
}

.calendar .btn-week:hover {
    background-color: var(--backgr-color-hover);
    cursor: pointer;
}

.calendar .btn-prev-week {

}

.calendar .btn-next-week {

}

.date-num {
    font-size: var(--text-font-size-big);
    font-weight: 600;
}

.date-space {
    font-size: calc(var(--text-font-size-big) - 4px);
    line-height: 50px;
}

.date-day {
    white-space: nowrap;
    font-size: var(--text-font-size-big);
}

.date .box-change-date {
    width: 32px;
}

/* Event */
.events {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    border-radius: 5px;
    background: var(--calBgColor);
}

.event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    margin: 0 4px;
    background: var(--backgr-color-light);
    overflow: hidden;
}

.event .btn-event-meeting {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: var(--text-font-size-small);
    border: none;
    background-color: unset;

}

.event .btn-event-meeting .title {
    font-weight: 550;
}

.event .btn-event-meeting .time {
    margin-top: 2px;
    font-size: 12px;
    color: var(--text-color-fade);
}


/* // Place on Timeline */

.start-7am {
    grid-row-start: 1;
}

.start-8am {
    grid-row-start: 2;
}

.start-9am {
    grid-row-start: 3;
}

.start-10am {
    grid-row-start: 4;
}

.start-11am {
    grid-row-start: 5;
}

.start-12am {
    grid-row-start: 6;
}

.start-1pm {
    grid-row-start: 7;
}

.start-2pm {
    grid-row-start: 8;
}

.start-3pm {
    grid-row-start: 9;
}

.start-4pm {
    grid-row-start: 10;
}

.start-5pm {
    grid-row-start: 11;
}

.end-8am {
    grid-row-end: 2;
}

.end-9am {
    grid-row-end: 3;
}

.end-10am {
    grid-row-end: 4;
}

.end-11am {
    grid-row-end: 5;
}

.end-12am {
    grid-row-end: 6;
}

.end-1pm {
    grid-row-end: 7;
}

.end-2pm {
    grid-row-end: 8;
}

.end-3pm {
    grid-row-end: 9;
}

.end-4pm {
    grid-row-end: 10;
}

.end-5pm {
    grid-row-end: 11;
}

.end-6pm {
    grid-row-end: 12;
}

/* // Global / Etc */

body {
    font-family: system-ui, sans-serif;
}

.corp-fi {
    background: var(--eventColor1);
}

.ent-law {
    background: var(--eventColor2);
}

.writing {
    background: var(--eventColor3);
}

.securities {
    background: var(--eventColor4);
}
/* End Main Calendar */

/* End Main Content */

/*Make calendar*/
.container{
    height: 100vh;
    background: var(--backgr-color-blur);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
}

.container.show {
    height: 100vh;
    background: var(--backgr-color-blur);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    pointer-events: all;
}

.modal {
    background: var(--backgr-color-light);
    max-width: 1000px;
    position: relative;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
    border-radius: 10px;
    border-style: ridge;
}

.modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid;
    border-bottom-color: var(--border-color-ligh);
}

.modal .modal-body {
    padding: 20px 20px;
}

/*End make calendar*/


/* Start Footer */
.wrapper-footer {}

.footer {}

.contact {}