.view_assignments {
    float: right;
    width: 80%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: var(--text-font-size)
}

h1 {
    padding-bottom: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #0b184e;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}