.meeting {
    margin: 8px 0px 16px 4px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 8px);
    transition: all ease-out 1s;
}

.meeting.double-screen {
    float: left;
    width: calc(50% - 16px);
}

.meeting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    overflow: hidden;
}

.meeting-header .title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.meeting-info {
    display: flex;
    flex-direction: column;
}

.meeting-info .day {
    /* width: 100px; */
    height: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #666666;
}

.meeting-info .info {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info-student th {
    text-align: left;
}

.info-student th,
.info-student td {
    height: 24px;
    border: 1px solid #ccc;
    padding: 0 8px;
} 

.info-student .student {
    width: 300px;
}

.student .student-name {
    width: 200px;
}

.student .student-id {
    width: 100px;
}

.info .file-report {
    overflow: hidden;
}

.info .col-second {
    width: 50%;
}

.row {
    margin-bottom: 12px;
}


/*-------------------Start: Meeting-content-------------------*/

.meeting-content {
    margin-top: 8px;
    /* border: 1px solid var(--text-color-blue); */
}
/* Buttons in meeting box */
.meeting .btn-note {
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--backgr-color-light);
    transition: all 0.5s;
}

.meeting .btn-note:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);
}

/* -------------------End: Quill CSS------------------- */

.meeting-content .editor.focus{
    border: 1px solid #3d75be !important;
    outline: none;
}

.meeting-content .ql-editor {
    height: 200px;
}

/* -------------------End: Meeting-content------------------- */

/* -------------------Start: end meeting button------------------- */

.meeting-end {
    margin-top: 8px;
    height: 40px;
}

.button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    width: 120px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--backgr-color-light);
    cursor: pointer;
    transition: ease-out 0.3s;
}

.btn-end-meeting {
    padding: 12px 24px;
    float: right;
    background-color: var(--backgr-color-light);
}

.btn-end-meeting:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);
}

/* -------------------Start: Modal warning end button------------------- */

*:before, *:after {
    box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
    .container-select-modal {
        /* justify-content: center; */
        /* align-items: center; */
        display: block;
        /* height: 100vh; */
        /* font-size: 100%; */
   }
}

.details-modal {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: left;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
}

.details-modal .details-modal-close {
    align-items: center;
    color: #111827;
    display: flex;
    height: 64px;
    width: 64px;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.details-modal .details-modal-close:hover {
    background-color: var(--backgr-color-hover-blue1);
    color: var(--btn-color-hover-blue);
}
.details-modal .details-modal-close svg {
    display: block;
}
.details-modal .details-modal-title {
    color: #111827;
    padding: 20px;
    pointer-events: all;
    position: relative;
    width: calc(100% - 80px);
}

.details-modal .details-modal-title h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.details-modal .details-modal-content {
    border-top: 1px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
}

.details-modal-content .modal-row {
    display: flex;
    justify-content: space-evenly;
}


.details-modal-content .btn-add-meeting {
    background-color: rgb(160, 255, 141);
}

.details-modal-content .btn-end {
    background-color: rgb(255 155 138);
}

.details-modal-content .btn-cancel {
    background-color: rgb(231, 231, 231);
}

.details-modal-content .btn-add-meeting:hover,
.details-modal-content .btn-end:hover,
.details-modal-content .btn-cancel:hover {
    scale: 1.1;
}
.details-modal-overlay {
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    background: rgba(15, 23, 42, 0.8);
    position: fixed;
    opacity: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
details[open] .details-modal-overlay {
    pointer-events: all;
    opacity: 0.5;
}
details summary {
    list-style: none;
}
details summary:focus {
    outline: none;
}
details summary::-webkit-details-marker {
    display: none;
}
code {
    font-family: Monaco, monospace;
    line-height: 100%;
    background-color: #2d2d2c;
    padding: 0.1em 0.4em;
    letter-spacing: -0.05em;
    word-break: normal;
    border-radius: 7px;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    position: relative;
    top: -2px;
}

.container-select-modal > h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: normal;
    color: #111827;
}
.container-select-modal .details-modal-content p {
    margin-bottom: 20px;
}
.container-select-modal sup {
    font-size: 1rem;
    margin-left: 0.25em;
    opacity: 0.5;
    position: relative;
}



/* -------------------End: Modal warning end button------------------- */

