.wrapper-content {
    /* display: flex; */
}

.meeting {
    margin: 8px 8px 16px 8px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    width: calc(100% - 8px);
    transition: all ease-out 1s;
}

.meeting.double-screen {
    float: left;
    width: calc(50% - 16px);
}

.meeting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    overflow: hidden;
}

.meeting-header .title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

.title-course {

}

.title-space {

}

.title-name {

}

.title-space {

}

.title-topic {

}

.meeting-info {
    display: flex;
    flex-direction: column;
}

.meeting-info .day {
    width: 100px;
    height: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #6d6d6d;
}

.day .date {
    margin-right: 8px;
}

.meeting-info .info {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;

}

.info .info-student {
    width: 50%;
}

.info .file-report {
    width: 50%;
    overflow: hidden;
}


/*-------------------Start: Meeting-content-------------------*/

.meeting-content {
    margin-top: 8px;
}
/* Buttons in meeting box */
.meeting .btn-note {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: var(--backgr-color-light);
}

.meeting .btn-note:hover {
    background-color: var(--backgr-color-hover);
}

/* -------------------End: Quill CSS------------------- */

.ql-editor {
    height: 200px;
}

/* -------------------End: Meeting-content------------------- */

/* -------------------Start: end meeting button------------------- */

.meeting-end {
    margin-top: 8px;
    height: 40px;
}

.btn-end-meeting {
    padding: 12px 24px;
    float: right;
    font-size: 16px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--backgr-color-light);
    transition: ease-out 0.3s;
}

.btn-end-meeting:hover {
    background-color: var(--backgr-color-hover);
}


