:root {
    --numDays: 6;
    --numHours: 12;
    --timeHeight: 50px;
    --icon-font-size: 20px;
    --text-font-size: 20px;

    --backgr-color-light: rgb(255, 255, 255);
    --backgr-color-middle: rgb(250, 250, 250);
    --backgr-color-dark: rgb(119, 119, 119);
    --backgr-color-hover: rgb(233, 233, 233);
    --backgr-color-blur: rgb(244, 244, 244, 0.5);
    --border-color-light: rgb(204, 204, 204);
    --box-shadow-color: rgb(160, 160, 160);
    --text-color-light: rgb(39, 39, 39);
    --text-color-fade: rgb(100, 96, 96);
    --text-color-green: rgb(102, 221, 89);
    --icon-color-light: rgb(24, 22, 22);
    --icon-color-dark: rgb(65, 65, 65);
    --icon-color-hover: rgb(0, 0, 0);

    /* Calendar color */
    --calBgColor: #fff1f8;
    --eventBorderColor: #f2d3d8;
    --eventColor1: #ffd6d1;
    --eventColor2: #fafaa3;
    --eventColor3: #e2f8ff;
    --eventColor4: #d1ffe6;
}

.setting {
    width: 100%;
    margin-left: 20px;
}

h1 {
    padding-bottom: 10px;
}

.setting-content p {
    font-size: var(--text-font-size);
}

.setting-content {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: var(--backgr-color-light);
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-font-size);
    border: none;
    border-radius: 10px;
    background-color: var(--backgr-color-light);
}

.setting-items {
    background-color: rgb(160, 160, 160);
    float: right;
    width: 20%;
}

.setting-item {
    padding: 10px 0;
    font-size: 20px;
}



.setting-item:nth-child(odd) {
    background-color: #f2f2f2;
}

.setting-item:nth-child(even) {
    background-color: white;
}

/* ok */