<div class="wrapper-sidebar">
    <!-- box & box open icon -->
    <div class="sidebar">
        <div class="sidebar-item sidebar-week">
            <button class="btn-sidebar-item">
                <i class="fa-regular fa-clipboard"></i>
                <a href="#">Lịch trong tuần</a>
            </button>
             <button class="btn-sidebar-item">
                <i>{{user.id}}</i>
            </button>
            <div class="sidebar-week-days mside-12">
                <div class="sidebar-day sidebar-day-passed">
                    <p>T2</p>
                </div>
                <div class="sidebar-day sidebar-day-passed">
                    <p>T3</p>
                </div>
                <div class="sidebar-day">
                    <p>T4</p>
                </div>
                <div class="sidebar-day">
                    <p>T5</p>
                </div>
                <div class="sidebar-day">
                    <p>T6</p>
                </div>
                <div class="sidebar-day">
                    <p>T7</p>
                </div>
                <div class="sidebar-day">
                    <p>CN</p>
                </div>
            </div>
        </div>
        <div class="sidebar-item sidebar-studentlist">
            <button class="btn-sidebar-item">
                <i class="fa-regular fa-rectangle-list"></i>
                <a href="/list/">Danh sách sinh viên</a>
            </button>
        </div>
        <div class="sidebar-item sidebar-assignment">
            <button class="btn-sidebar-item">
                <i class="fa-solid fa-tasks-alt"></i>
                <a href="/assignment/">Bài tập</a>
            </button>
        </div>
        {{#if addMeeting}}
        <div class="sidebar-item sidebar-addMeeting">
            <button class="btn-sidebar-item">
                <i class="fa-solid fa-add"></i>
                <a href="#">Thêm cuộc gặp</a>
            </button>
        </div>
        {{/if}}
        <div class="sidebar-item sidebar-recent">
            <button class="btn-sidebar-item">
                <i class="fa-solid fa-arrow-rotate-right "></i>
                <a href="#">Mở gần đây</a>
            </button>
            <ul class="sidebar-recent-list mside-12">
            </ul>
        </div>
        <div class="sidebar-item sidebar-stored">
            <button class="btn-sidebar-item">
                <i class="fa-solid fa-box"></i>
                <a href="#">Lưu trữ</a>
            </button>
            <ul class="sidebar-stored-list mside-12">
            </ul>
        </div>
        <div class="sidebar-item sidebar-teacher">
            <button class="btn-sidebar-item">
                <i class="fa-solid fa-laptop"></i>
                <a href="#">Lịch rảnh</a>
            </button>
        </div>

        <!-- <div class="sidebar-item sidebar-student">
                    <button class="btn-sidebar-item">
                        <p>Gửi yêu cầu meeting (sinh viên)</p>
                    </button>
                </div> -->
    </div>
</div>