<div class="wrapper-content">
    <div class="setting">
        <h1 class="title">Cài đặt</h1>
        <div class="setting-content">
            <form action="update_profile.php" method="POST">
                <label for="fullname">
                    <p>Họ và tên:</p>
                </label>
                <input class="format-form" type="text" id="fullname" name="fullname"><br>

                <label for="password">
                    <i class="fa-solid fa-shield-alt"></i>
                    <a>Mật khẩu:</a>
                </label>
                <input class="format-form" type="password" id="password" name="password"><br>

                <label for="phone">
                    <i class="fa-solid fa-phone-alt"></i>
                    <a>Số điện thoại:</a>
                </label>
                <input class="format-form" type="text" id="phone" name="phone"><br>

                <label for="theme">
                    <i class="fa-solid fa-air-freshener"></i>
                    <a>Chế độ sáng/tối:</a>
                </label>
                <select class="format-form" id="theme" name="theme">
                    <option value="light">Sáng</option>
                    <option value="dark">Tối</option>
                </select><br><br>

                <input class="format-form submit"type="submit" value="Cập nhật thông tin">
            </form>
        </div>
    </div>
</div>